@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.wrapper {
  height: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--Text-Normal, #000);
  text-align: center;
  font-family: 'SF Pro';
  font-size: 21.353px;
  font-style: normal;
  font-weight: 860;
  line-height: normal;
  margin-bottom: 136px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 0px 32px;
  width: 311px;
  margin-bottom: 40px;
}

.login {
  border-radius: 6px;
  background: var(--SNUTT-orange, #f58d3d);
  color: var(--Text-onBG, #fff);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  padding: 12px;
  line-height: normal;
  border: none;
  align-self: stretch;
}

.login:not(:disabled):hover {
  background: var(--SNUTT-orange-hover, #ff6417);
}

.signUp {
  color: var(--Text-Plain, #505050);
  text-align: center;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 40px;
}

.barText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.snsText {
  color: var(--Text-Assistive, #c4c4c4);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bar {
  color: #c4c4c4;
  width: 100px;
  height: 0.75px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 12px;
}
